<!-- <div class="jumbotron" id="intro"> -->
  <div id="flash">
    <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>

  <div class="container">

    <div id="containercontent">
      <img width="485em" src=" <%= asset_path("HONEYBAE_LOGO_black.png") %>" alt="HONEYBAE" />
      <iframe width="465em" height="275em" src="https://www.youtube.com/embed/Kovqavfh5Lk?autoplay=1&&autohide=1" frameborder="0" allowfullscreen></iframe>

      <div class="social">
        <a href="https://www.facebook.com/pages/Honeybae-Inc/962404193774151"><img src="<%= asset_path("fb.png") %>"></a>
        <a href="https://instagram.com/honeybae_inc/"><img src="<%= asset_path("ig.png") %>"></a>
        <a href="https://www.linkedin.com/company/luluhoney?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A2-1-2%2CtarId%3A1432230291238%2Ctas%3Ahoneybae"><img src="<%= asset_path("li.png") %>"></a>
      </div>
      <div id="embed_signup">
        <div id="embed_signup_scroll">
          <form action="/emails" method="post" id="embedded-subscribe-form" name="embedded-subscribe-form">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input type="email" value="" name="email[email]" class="email" id="EMAIL" placeholder="EMAIL ADDRESS" required>
            <input type="submit" name="EMAIL" class="button" value="SIGNUP">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
