<!-- <div class="jumbotron" id="intro"> -->
  <div id="flash">
    <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>

  <div class="container">
    
    <div id="containercontent">
      <img width="485px" src=" <%= asset_path("HONEYBAE_LOGO_black.png") %>" alt="HONEYBAE" />
      <iframe width="465px" height="275px" src="https://www.youtube.com/embed/34rmavuTL-Q?autoplay=1&&autohide=1" frameborder="0" allowfullscreen></iframe>

      <div class="social">
        <a href="#"><img src="<%= asset_path("fb.png") %>"></a>
        <a href="#"><img src="<%= asset_path("ig.png") %>"></a>
        <a href="#"><img src="<%= asset_path("yt.png") %>"></a>
      </div>
      <div id="embed_signup">
        <div id="embed_signup_scroll">
          <form action="/emails" method="post" id="embedded-subscribe-form" name="embedded-subscribe-form">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input type="email" value="" name="email[email]" class="email" id="EMAIL" placeholder="EMAIL ADDRESS" required>
            <input type="submit" name="EMAIL" class="button" value="SIGNUP">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
