<!DOCTYPE HTML>
<html>
<head>
	<title>Honeybae</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>

<body>

<h1>
<a href="/cookIndex_tanTrunk"><img src="https://trademarks.justia.com/media/image.php?serial=86449448"/></a>
</h1>

<h1> Chicken Vegetables and Pasta </h1>
</br>

<h3> Add pasta</h3>
<img width="480px" height="640px" src="<%= asset_path('1_add_pasta.gif') %>"/>
<p> Pour entire box into boiling water. Make sure water covers pasta completely</p>
<br/>

<h3> Oil saucepan</h3>
<img width="480px" height="640px"src="<%= asset_path('2_oil_saucepan.gif') %>">
<p> Add quarter cup of oil and let it heat up for 3 minutes</p>
<br/>

<h3> Stir Pasta </h3>
	<img width="480px" height="640px"src="<%= asset_path('3_stir_pasta.gif') %>">
<p> for 10 seconds time to time </p>
<br/>

<h3> Add chicken </h3>
	<img width="480px" height="640px"src="<%= asset_path('4_add_chicken.gif') %>">
<p> Onto hot saucepan </p>
<br/>

<h3> Season chicken </h3>
	<img width="480px" height="640px"src="<%= asset_path('5_season_chicken.gif') %>">
<p> With salt, pepper, and any other seasonings you like </p>
<br/>

<h3> Flip chicken </h3>
	<img width="480px" height="640px"src="<%= asset_path('6_flip_chicken.gif') %>">
<p> After 10 minutes of cooking on first side flip to other side </p>
<br/>

<h3> Pour pasta </h3>
	<img width="480px" height="640px"src="<%= asset_path('7_pour_pasta.gif') %>">
<p> after 20 minutes of cooking pour into strainer </p>
<br/>

<h3> Add veggies </h3>
	<img width="480px" height="640px"src="<%= asset_path('8_add_veggies.gif') %>">
<p> into chicken saucepan </p>
<br/>

<h3> Add more veggies </h3>
	<img width="480px" height="640px"src="<%= asset_path('9_more_veggies.gif') %>">
<p> and add another 1/4th cup of oil </p>
<br/>

<h3> Finished </h3>
	<img width="480px" height="640px"src="<%= asset_path('10_finished.gif') %>">
<p> Stir around for 10 mins </p>
<br/>


</body>
