<!DOCTYPE HTML>
<html>
<head>
	<title>Honeybae</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
</head>

<body>

<h1>
<a href="/index_rosemaryTrunk"><img width="485em" src="<%= asset_path("HONEYBAE_LOGO_black.png") %>"/></a>
</h1>

<h1> Saturday gif </h1>
</br>

<h3> Ball Wall Squat with Curl and Press</h3>
<img width="480px" height="640px" src="<%= asset_path("Ball_Wall_Squat_curl_and_press_gif.gif") %>"/>
<p> x12e (3)  </p>
<br/>

<h3> Crossover step up</h3>
<img width="480px" height="640px"src="<%= asset_path("crossover_step_up_gif.gif") %>">
<p> 10lb x15 -60s- (3) </p>
<br/>

<h3> Skier lunge </h3>
	<img width="480px" height="640px"src="<%= asset_path("Skier_lunge_gif.gif") %>">
<p> x10e (5) </p>
<br/>

<h3> TRX Crossover lunge </h3>
	<img width="480px" height="640px"src="<%= asset_path("TRX_crossover_lunge_gif.gif") %>">
<p> x6e (10) </p>
<br/>


</body>
